# DB_URL=jdbc:postgresql://localhost:5432/niasip_db
DB_URL=postgresql+asyncpg://thomas:ebimobowei81@localhost:5432/niasip_db
DB_USERNAME=thomas
DB_PASSWORD=ebimobowei81
JWT_SECRET=NjNkNGZhNjBkNjhkZmE2ZWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRm
JWT_EXPIRE=1200000
PORT=8017
UPLOAD_DIR=./uploads
PASSPORT_DIR=./uploads/passports
IMPORT_DIR=./uploads/imports
CORS_ORIGINS=http://localhost:4200,http://localhost:80
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=niasip_db
