DB_URL=jdbc:postgresql://localhost:5432/niasip_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=NjNkNGZhNjBkNjhkZmE2ZWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRmYWRm
JWT_EXPIRE=1200000
PORT=8080
UPLOAD_DIR=./uploads
PASSPORT_DIR=./uploads/passports
IMPORT_DIR=./uploads/imports
CORS_ORIGINS=http://localhost:4200,http://localhost:80
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=niasip_db
